body{
    background-color: black;
    color: pink;
}
.name-header{
    color: red;
    text-align: center;

}
  
.icon {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .glowing-btn {
    text-align: center;
    position: relative;
    color: #fff; /* Updated text color */
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 10px 0;
    border: 0.2em solid #93c537; /* Updated border color */
    border-radius: 0.5em;
    background: #27d317dd; /* Updated background color */
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    box-shadow: 0 0 0.7em rgba(195, 5, 154, 0.813); /* Updated box shadow */
    animation: border-flicker 2s linear infinite;
  }

  .glowing-txt {
    margin-right: -0.3em;
    text-shadow: 0 0 0.1em rgba(255, 255, 255, 0.3);
    animation: text-flicker 3s linear infinite;
  }

  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  .glowing-btn::before {

    content: "";
    position: absolute;
    top: -0.2em;
    bottom: -0.2em;
    left: -0.2em;
    right: -0.2em;
    opacity: 0.7;
    filter: blur(0.5em);
    transform: translateY(100%) rotateX(95deg) scale(1, 0.35);
    pointer-events: none;
  }

  .glowing-btn::after {
    content: "";
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    opacity: 0;
    z-index: -1;
    background-color: rgba(2, 3, 3, 0.5);
    box-shadow: 0 0 1em 0.1em rgba(0, 119, 204, 0.5);
    transition: opacity 100ms linear;
  }

  .glowing-btn:hover {
    color: #0a0808;
    text-shadow: none;
    animation: none;
    background-color: purple;
  }

  .glowing-btn:hover .glowing-txt {
    animation: none;
  }

  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }

  .glowing-btn:hover::before {
    filter: blur(0.3em);
    opacity: 1;
  }

  .glowing-btn:hover::after {
    opacity: 1;
  }
  .footerx{
    background-color: aliceblue;

  }
  .intro{
    color: red;
    text-align: center;
  }

  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
    87% {
      opacity: 1;
    }
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    8% {
      opacity: 0.1;
    }
    9% {
      opacity: 1;
    }
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }

  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    .glowing-btn {
      font-size: 1em;
    }
  }
  .glowing-btn, .glowing-btn-e {
    background-color: #161b22;
    border: 1px solid #30363d;
    padding: 10px 20px;
    color: #58a6ff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
  .glowing-txt {
    margin-right: -0.3em;
    text-shadow: 0 0 0.1em rgba(255, 255, 255, 0.3);
    animation: text-flicker 3s linear infinite;
  }

  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  .glowing-btn-e::before {

    content: "";
    position: absolute;
    top: -0.2em;
    bottom: -0.2em;
    left: -0.2em;
    right: -0.2em;
    opacity: 0.7;
    filter: blur(0.5em);
    transform: translateY(100%) rotateX(95deg) scale(1, 0.35);
    pointer-events: none;
  }

  .glowing-btn-e::after {
    content: "";
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    opacity: 0;
    z-index: -1;
    background-color: rgba(2, 3, 3, 0.5);
    box-shadow: 0 0 1em 0.1em rgba(0, 119, 204, 0.5);
    transition: opacity 100ms linear;
  }

  .glowing-btn-e:hover {
    color: #0a0808;
    text-shadow: none;
    animation: none;
    background-color: purple;
  }

  .glowing-btn-e:hover .glowing-txt {
    animation: none;
  }

  .glowing-btn-e:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }

  .glowing-btn-e:hover::before {
    filter: blur(0.3em);
    opacity: 1;
  }

  .glowing-btn-e:hover::after {
    opacity: 1;
  }
  @media only screen and (max-width: 600px) {
    .glowing-btn-e {
      font-size: 1em;
    }
  }